

.main_container{
    display: flex;
    width: 100%;
    color: white;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    align-items: start;
    position: relative;
    scroll-behavior: smooth;
    
    

}

.movie_container{
    display: flex;
    gap: 5px;
    height: 100%;
    overflow-y: visible;
    align-items: center;
   
    
   
    
}

.main_container::-webkit-scrollbar{
    background-color: #010101;
    display: none;
    
    
}

.main_container::-webkit-scrollbar-thumb {
   
    border-radius: 4px;
}

.movie{
   
    border-radius: 5px;
    height: 100%;
    
    
    
}

.movie_cast:hover{
    scale: 0.95;
    z-index: 2;
    
    
    
}



.movie_cast {
    display: flex ;
    position: relative;
    transition: 300ms;
    height: 20rem;
    justify-content: center;
    cursor: pointer;

    
  }


.main_container:last-child{
    padding-bottom: 25px;
}
  
.right_button{
    position: sticky;
    width: 200px;
    height: 320px;
    right: 0; 
    z-index: 3;
    background-color: #01010197;
    border: none;
    padding: 0 25px;
    
    
}

.right_button img{
    width: 32px;
    filter: invert(1);
}
.left_button{
    position: sticky;
    width: 200px;
    height: 320px;
    left: 0; 
    z-index: 3;
    background-color: #01010197;
    border: none;
    padding: 0 25px;
    
    
}

.left_button img{
    width: 32px;
    filter: invert(1);
}
    

  @media screen and (max-width:768px){

    .movie_container{
        display: flex;
        gap: 5px;
        height: 100%;
        overflow-y: visible;
        align-items: center;
       
    }
    

    .movie_cast{
        height: 12rem;
    }

    .right_button{
        display: none;
    }

    .left_button{
        display: none;
    }
  }