

.navBar_container{
    display: flex;
    background: linear-gradient(117deg, rgb(16, 15, 22) 25%, rgba(0,0,0,1) 100%);
    align-items: center;
    justify-content: space-between;
    height: 10.2vh;
    margin: 0;
    width: 100%;
   
    padding: 0 50px;
  
    z-index: 3;
    position: sticky;
    top: 0;
   
 

    
    
}



.search_container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navBar_container ul{
    display: flex;
    gap: 5rem;
    justify-content: start;
    padding: 0;
    
}

.navBar_container ul li{
    list-style: none;
    
}

.navBar_container a{
    color: white;
    text-decoration: none;
    transition: color 200ms;
}

.navBar_container a:hover{
    color: rgba(44,148,247,1);
    
}

.search_icon{
    width: 30px;
    cursor: pointer;
    align-items: center;
    z-index: 2;
    transition: 200ms;

    
}



.search_container input{
  
    display: inline-block;
    background-color: transparent;
    border: white 1px solid;
    transition: 200ms;
    height: 25px;
    color: white !important;
    background-image: url('../../img/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    width: 0;
    opacity: 0;

    
   
}

.search_container input:focus{
    padding-left: 35px;
}

.menu_button{
    display: none;
    width: 24px;
}

.close_button{
    display: none;
}

@media screen and (max-width:768px) {

.menu_button{
    display: flex;
    width: 30px;
    filter: invert(1);
}
.close_button{

    width: 24px;
    filter: invert(1);
}



.navBar_container ul{
    background: linear-gradient(117deg, rgb(16, 15, 22) 25%, rgba(0,0,0,1) 100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    margin-top: 10vh;
    height: 90vh;
    width: 50%;
    position: absolute;
    left: -300px;
    transition: 300ms;
   
    padding: 20vh 0 0 50px;
    
    
}





    
}